body {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__input {
  padding: 0;
  border: 1px solid #000;
  width: 85px;
  height: 31px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
}

.calc {
  display: flex;
  align-items: center;
}

.calc__btn {
  width: 39px;
  height: 33px;
  margin-right: 8px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}